@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

div {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: auto;
}